.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.7rem;
    text-align: center;
}

.card{
    border: 1px solid black;
    background-color: aquamarine;
}

ul{
    list-style-type: none;
}

li p {
    text-align:left ;
}

a{
    text-decoration: none;
    color: red;
}

body{
    background-color: red;
}
